#create-form {
  width: max-content;
  height: 40px;
  display: flex;
}

#create-button {
  width: 120px;
  margin-left: 3px;
  padding: 0;
}

#input-field {
  width: 150px;
}

#all-tasks {
  display: inline-block;
}

#all-tasks:nth-child(even) app-task div{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#e73213;
}

#all-tasks:nth-child(3n) app-task div{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#9dbeb7;
}

#all-tasks:nth-child(5n) app-task div{
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}
