#create-form {
  width: max-content;
  height: 40px;
  display: flex;
}

#create-button {
  width: 120px;
  margin-left: 3px;
  padding: 0;
}

#input-field {
  width: 150px;
}

#all-cards {
  display: inline-block;
}
